body {
    background: pink;
}

p {
     
}

img{
    width: 400px;
    display: block;
    margin: 0px;
}

div{
    margin-left: 100px 0px 0px 100px;
    background: grey;
    padding-left: 10px;
    
}
span{
    color: antiquewhite;
}

