body {
    background: powderblue;
}

p {
    color: blueviolet;
    text-align: center;
}

h1 {
    color: blueviolet;
    text-align: center;
}

img {
    height: 100px;
}

div{
    display: block;
    margin: 0 auto;
    background: pink;
    height: 435px;
    width: 250px;
}

.photo {
    display: block;
    margin: 0 auto;
}

.infos {
    text-align: left;
}

h4 {
    text-align: center;
    color:blueviolet;
}

.cardtext {
    text-align:center;
}

.marguerite {
    display: block; 
    margin-left: 150px;
}

li {
    color: blueviolet;
}